.products {
    max-width: 80%;
    display: grid;
    margin: 0 auto;
    gap: 16px;
}

.item {
    color: black;
    padding: 1rem;
    height: auto;
    margin-top: 30px;
    border: 1px solid gray;
}

.product-image {
    width: 50%;
    margin-inline: auto;
    /* margin-left and margin-right */
    display: block;
}

.description {
    padding-left: 16px;
}

@media only screen and (min-width: 768px) {
    .products {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1024px){
    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}
